{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ ad.title }}</h2>

<ul>
    {% if ad.type %}
        <li>type : {{ ad.get_type_display }}</li>
    {% endif %}
    <li>Description : {{ ad.description }}</li>
    <li>Vendu : {{ ad.sold | yesno }}</li>
    <li>Comme Neuf : {{ ad.like_new | yesno }}</li>
    {% if ad.year %}
        <li>Année : {{ ad.year }}</li>
    {% endif %}
    {% if ad.band %}
        <li>groupe : {{ ad.band }}</li>
    {% endif %}
</ul>

<a href="{% url 'list-list' %}">Retour à la liste d'annonces</a>

{% endblock %}